body{
  margin: 0px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}

#grid{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 800px;
  height: 800px;
  user-select: none;
  border: 2px solid black;
}

.row{
  width: 800px;
  height: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;  
}

.square{
  flex: 1 1 auto;
}

.active{
  background-color: black;
}